.shelfieHeader {
    height: 100px;
    width: 100vw;
    background: #AB2A19;
    display: flex;
    align-items: center;
}

.shelfieHeader h1 {
    color: #fff;
    margin-left: .4em;
}

.shelfieHeaderButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5em;
}

.dashboardButton {
    margin-right: 10px;
    width: 6.4em;
}

.addInventoryButton {
    width: 8em;
}

.button {
    background: #ED6B5A;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
}

.font {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif
}

.shelfieIcon {
    transform: scale(.75);
    margin-left: 4em;
}

